
:root {
  --accent-color: #111;
  --background-color: #DDD;
  --text-color: #551066;

  --button-size: 64px;
  --button-margin: 10px;
}

.dark-theme {
  --accent-color: #DDD;
  --background-color: #111;
  --text-color: #EE90FF;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}

.svg-foreground {
    fill: var(--accent-color);
}

.svg-background {
    fill: var(--background-color);
}

.img-link {
    font-size: 0;
    text-decoration: none;
}

.bouncy {
    animation: bounce 2s infinite;
    animation-delay: calc(.2s * var(--i));
}

span.bouncy {
    display: inline-block;
}

.button {
    cursor: pointer;
}

.svg-button {
    display: inline-block;
    border: none;
    background: none;
    width: var(--button-size);
    height: var(--button-size);
    margin: var(--button-margin);
}

.theme-selector {
    top: 0;
    right: 0;
    position: absolute;
}


@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.2em);
  }
}
