
:root {
  --accent-color: #111;
  --background-color: #DDD;
  --text-color: #551066;
}

.dark-theme {
  --accent-color: #DDD;
  --background-color: #111;
  --text-color: #EE90FF;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}

.img-link {
    margin: 10px;
    text-decoration: none;
}

.bouncy {
    animation: bounce 2s infinite;
    animation-delay: calc(.2s * var(--i));
}

span.bouncy {
    display: inline-block;
}

.button {
    cursor: pointer;
}

.theme-selector {
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
    margin: 5px;
    border-radius: 100%;
    position: absolute;
}


@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.2em);
  }
}
